/*--- VARIABLES ---*/
/*--- GLOBAL STYLES ---*/
body {
  background-color: #202840; }

.body-wrapper {
  display: table;
  height: 100%;
  width: 100%; }
  .body-wrapper .body-expand {
    height: auto; }
  .body-wrapper .body-row {
    display: table-row;
    height: 1px; }

.main-content {
  margin-top: 100px; }

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px; }

.table > tbody > tr.success {
  border-bottom: 1px solid #00bc8c; }

.table > tbody > tr.info {
  border-bottom: 1px solid #3498db; }

.table > tbody > tr.success > td,
.table > tbody > tr.info > td {
  background-color: transparent; }

.table .button-remove {
  background: transparent;
  border: none;
  color: #ff5940; }

.table .button-edit {
  background: transparent;
  border: none;
  color: #57a5f9; }

/*--- LANDING ---*/
.landing-page .jumbotron {
  height: 500px;
  text-align: center; }
  .landing-page .jumbotron h2 {
    padding-top: 4.5em; }

.landing-page .devices-row {
  position: relative;
  top: -70px; }

.landing-page .features-column {
  padding: 50px 65px 100px; }

.landing-page .developers-row {
  background-color: #00bc8c;
  color: #202840; }
  .landing-page .developers-row .contact-links a {
    color: #202840; }
  .landing-page .developers-row .team-header {
    margin-top: 35px; }

.landing-page .developers-column {
  padding: 35px 0 90px 0; }

/*--- FORMS ---*/
input.form-control {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #375a7f;
  color: white; }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }

/*--- NAVIGATION ---*/
.navbar-brand {
  padding: 8px 0 0 0; }
  .navbar-brand .budgie-logo {
    height: 48px; }

.navbar-default {
  background: -moz-linear-gradient(top, #350d52 0%, rgba(53, 13, 82, 0) 100%);
  background: -webkit-linear-gradient(top, #350d52 0%, rgba(53, 13, 82, 0) 100%);
  background: linear-gradient(to bottom, #350d52 0%, rgba(53, 13, 82, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#350d52 ', endColorstr='#00350d52',GradientType=0 ); }
  .navbar-default .navbar-collapse {
    background: #350d52; }

/*--- EXPENSES PAGE ---*/
.table > tbody > tr.success:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00bc8c+0,00bc8c+100&0+0,0.5+100 */
  background: -moz-linear-gradient(top, rgba(0, 188, 140, 0) 0%, rgba(0, 188, 140, 0.5) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 188, 140, 0) 0%, rgba(0, 188, 140, 0.5) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 188, 140, 0) 0%, rgba(0, 188, 140, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000bc8c', endColorstr='#8000bc8c',GradientType=0 );
  /* IE6-9 */ }

.table > tbody > tr.info:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3498db+0,3498db+100&0+0,0.5+100 */
  background: -moz-linear-gradient(top, rgba(52, 152, 219, 0) 0%, rgba(52, 152, 219, 0.5) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(52, 152, 219, 0) 0%, rgba(52, 152, 219, 0.5) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(52, 152, 219, 0) 0%, rgba(52, 152, 219, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003498db', endColorstr='#803498db',GradientType=0 );
  /* IE6-9 */ }

.table .category-tag {
  color: #fff;
  background: #0089e0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin-left: 20px;
  position: relative;
  padding: 3px 12px;
  text-decoration: none; }

.category-tag:before {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  border-color: transparent #0089e0 transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0; }

.expense-form {
  margin-bottom: 25px; }
  .expense-form .form-group {
    display: inline-block;
    margin: 0 5px; }
  .expense-form .form-control {
    display: inline;
    width: auto; }
  .expense-form .select {
    border-bottom: 1px solid #375a7f;
    background: transparent;
    color: white;
    width: auto; }
  .expense-form #amount {
    width: 110px; }
  .expense-form #time {
    width: 130px; }
  .expense-form .button-group {
    display: block;
    margin-top: 20px; }
  .expense-form .button-note {
    background: transparent;
    border: none; }

.donut-chart {
  position: relative;
  display: inline-block; }
  .donut-chart .donut-chart-label {
    position: relative;
    top: 115px;
    text-align: center;
    color: white; }

/*--- LEARN PAGE ---*/
.learn-page .resources .item {
  margin-bottom: 15px;
  text-align: center; }
  .learn-page .resources .item img {
    background-color: #fff;
    height: 100%;
    width: 100%; }

.learn-page .tweet-container li {
  border-bottom: 1px solid rgba(225, 232, 237, 0.3); }

.learn-page .tweet-container .tweet {
  min-height: 65px;
  padding: 9px 0;
  position: relative; }
  .learn-page .tweet-container .tweet .content {
    margin-left: 58px; }
    .learn-page .tweet-container .tweet .content .avatar {
      float: left;
      height: 48px;
      margin-left: -58px;
      width: 48px; }
    .learn-page .tweet-container .tweet .content .username {
      color: #8899a6; }
    .learn-page .tweet-container .tweet .content small {
      color: #8899a6; }

/*--- FOOTER ---*/
footer {
  margin-top: 30px; }

/*---- MAP ----*/
#map_canvas {
  height: 500px;
  width: 100%; }

/*--- MEDIA QUERIES ---*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-default .navbar-collapse {
    background: transparent; }
  .learn-page .resources .item img {
    height: 200px;
    width: 200px; } }

/*--- MODAL  ----*/
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8; }

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index: 10000;
  position: absolute;
  width: 50%;
  /* Default */
  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000; }

.ng-modal-dialog-content {
  padding: 10px;
  text-align: left; }

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif'; }
