/*--- GLOBAL STYLES ---*/
body {
  background-color: #202840; }

.body-wrapper {
  display: table;
  height: 100%;
  width: 100%; }
  .body-wrapper .body-expand {
    height: auto; }
  .body-wrapper .body-row {
    display: table-row;
    height: 1px; }

.main-content {
  margin-top: 70px; }

/*--- FORMS ---*/
input.form-control {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #375a7f;
  color: white; }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }

/*--- NAVIGATION ---*/
.navbar-brand {
  padding: 8px 0 0 0; }
  .navbar-brand .budgie-logo {
    height: 48px; }

.navbar-default {
  background: -moz-linear-gradient(top, #281f3f 0%, rgba(55, 90, 127, 0) 100%);
  background: -webkit-linear-gradient(top, #281f3f 0%, rgba(55, 90, 127, 0) 100%);
  background: linear-gradient(to bottom, #281f3f 0%, rgba(55, 90, 127, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#281f3f', endColorstr='#00375a7f',GradientType=0 ); }

/*--- EXPENSES PAGE ---*/
.expense-form .form-control {
  display: inline;
  min-width: 20%;
  width: auto; }

.expense-form #select {
  border-bottom: 1px solid #375a7f;
  background: transparent;
  color: white;
  min-width: 10%; }

.expense-form #notes {
  min-width: 35%; }

.expense-form #time {
  min-width: 10%; }

.expense-form .button-group {
  margin-top: 20px; }

.donut-chart {
  position: relative;
  display: inline-block; }
  .donut-chart .donut-chart-label {
    position: relative;
    top: 115px;
    text-align: center;
    color: white; }

/*--- LEARN PAGE ---*/
.learn-page .resources .item {
  margin-bottom: 15px;
  text-align: center; }
  .learn-page .resources .item img {
    background-color: #fff;
    height: 100%;
    width: 100%; }

.learn-page .tweet-container li {
  border-bottom: 1px solid rgba(225, 232, 237, 0.3); }

.learn-page .tweet-container .tweet {
  min-height: 65px;
  padding: 9px 0;
  position: relative; }
  .learn-page .tweet-container .tweet .content {
    margin-left: 58px; }
    .learn-page .tweet-container .tweet .content .avatar {
      float: left;
      height: 48px;
      margin-left: -58px;
      width: 48px; }
    .learn-page .tweet-container .tweet .content .username {
      color: #8899a6; }
    .learn-page .tweet-container .tweet .content small {
      color: #8899a6; }

/*--- FOOTER ---*/
footer {
  margin-top: 30px; }

/*---- MAP ----*/

#map_canvas {
  height: 400px;
  width: 600px;
}

/*--- MEDIA QUERIES ---*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .learn-page .resources .item img {
    height: 200px;
    width: 200px; } }


/*--- MODAL  ----*/

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
