/*--- GLOBAL STYLES ---*/
body{
  background-color: #202840;
}
.body-wrapper{
  display: table;
  height: 100%;
  width: 100%;
  .body-expand{
    height: auto;
  }
  .body-row{
    display: table-row;
    height: 1px;
  }
}
.main-content{
  margin-top: 70px;
}

/*--- FORMS ---*/
input.form-control{
  background-color: rgba(0,0,0,0);
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #375a7f;
  color: white; // TODO
}
.form-signin{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/*--- NAVIGATION ---*/
.navbar-brand{
  padding: 8px 0 0 0;
  .budgie-logo {
    height: 48px;
  }
}

.navbar-default {
  background: -moz-linear-gradient(top, rgba(40,31,63,1) 0%, rgba(55,90,127,0) 100%);
  background: -webkit-linear-gradient(top, rgba(40,31,63,1) 0%,rgba(55,90,127,0) 100%);
  background: linear-gradient(to bottom, rgba(40,31,63,1) 0%,rgba(55,90,127,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#281f3f', endColorstr='#00375a7f',GradientType=0 );

//   background: -moz-linear-gradient(top, rgba(55,90,127,1) 0%, rgba(55,90,127,0) 100%);
// background: -webkit-linear-gradient(top, rgba(55,90,127,1) 0%,rgba(55,90,127,0) 100%);
// background: linear-gradient(to bottom, rgba(55,90,127,1) 0%,rgba(55,90,127,0) 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#375a7f', endColorstr='#00375a7f',GradientType=0 );
}

/*--- EXPENSES PAGE ---*/
.expense-form {
  .form-control {
    display: inline;
    min-width: 20%;
    width: auto;
  }
  #select {
    border-bottom: 1px solid #375a7f;
    background: transparent;
    color: white;
    min-width: 10%;
  }
  #notes {
    min-width: 35%;
  }
  #time {
    min-width: 10%;
  }
  .button-group {
    margin-top: 20px;
  }
}

.donut-chart {
  position: relative;
  display: inline-block;
  .donut-chart-label {
    position: relative;
    top: 115px;
    text-align: center;
    color: white;
  }
}


/*--- FOOTER ---*/
footer{
  margin-top: 30px;
  // bottom: 5px;
  // position: fixed;
  // width: 100%;
}
