<body>
    <div id="page-content-wrapper">

      <div class="container">

        <form name="formAddTransaction" class="form-horizontal expense-form text-center" novalidate>
          <fieldset>
            <div class="form-group">
              <label for="select">Log an</label>
              <select class="form-control select" ng-model="expense.inputType">
                <option selected value="expense">expense</option>
                <option value="income">income</option>
              </select>
            </div>
            <div class="form-group" ng-class="{'has-error': formAddTransaction.amount.$error.required && !formAddTransaction.amount.$pristine}">
              $
              <label for="inputAmount" class="sr-only">Amount</label>
              <input type="number" id="amount" class="form-control" placeholder="Amount" name="amount" ng-model="amount" required>
            </div>
            <div class="form-group" ng-class="{'has-error': formAddTransaction.expenseItem.$error.required && !formAddTransaction.expenseItem.$pristine}">
              for
              <label for="inputExpense" class="sr-only">Name of Expense</label>
              <input type="text" id="expenseItem" class="form-control" placeholder="Expense" name="expenseItem" ng-model="expenseItem" required>
            </div>
            <div class="form-group"  ng-class="{'has-error': formAddTransaction.time.$error.required && !formAddTransaction.expenseItem.$pristine}">
              at
              <label for="inputTime" class="sr-only">Time</label>
              <input type="time" id="time" class="form-control" name="time" ng-model="time" required>
              .
            </div>
            <div class="form-group">
              <label for="select" class="sr-only">Category:</label>
              <select class="form-control select" id="select-category" ng-model="expense.categoryType">
                <option value="Food & Drink">Food & Drink</option>
                <option value="Entertainment">Entertainment</option>
                <option value="Education">Education</option>
                <option value="Travel">Travel</option>
                <option value="Rent">Rent</option>
                <option value="Household">Household</option>
                <option value="Transport">Transport</option>
                <option value="Payments">Payments</option>
                <option value="Shopping">Shopping</option>
                <option value="Healthcare">Healthcare</option>
                <option value="Tax">Tax</option>
                <option value="Miscellaneous">Miscellaneous</option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputLocation">Location:</label>
              <input type="text" id="location" class="form-control" placeholder="Location" name="location" ng-model="expense.location" > 
            </div>
            <div class="form-group">
              <button type="button" class="button-note icon ion-clipboard" data-toggle="modal" data-target="#noteModal" title="Add an optional note"></button>
            </div>

            <div class="form-group button-group">
              <p ng-show="expense.isInvalid" class='text-danger' role="alert">Please fill out all of the fields</p>
              <button type="submit" class="btn btn-primary" ng-click="expense.addExpense()" ng-disabled="formAddTransaction.$invalid || formAddTransaction.$pristine">Submit</button>
              <button type="reset" ng-click="formAddTransaction.$setPristine(true)" class="btn btn-default">Cancel</button>
            </div>
          </fieldset>
        </form>
    </div>  <!--./container-->

  <!-- EDIT MODAL -->

  <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ></button>
          <h4 class="modal-title" id="editModalLabel">Edit Expense</h4>
        </div>
        <div class="modal-body">
          <form name="formEditTransaction" class="form-horizontal expense-form text-center" novalidate>
            <fieldset>
              <div class="form-group" ng-class="{'has-error': formEditTransaction.newAmount.$error.required}">
                <label for="inputNewAmount" class="sr-only">Amount</label>
                <input type="number" id="new-amount" class="form-control" placeholder="Amount" name="newAmount" ng-model="expense.newAmount" required>
              </div>
              <div class="form-group" ng-class="{'has-error': formEditTransaction.newExpenseItem.$error.required}">
                <label for="inputNewExpenseItem" class="sr-only">Expense</label>
                <input type="text" id="new-expense-item" class="form-control" placeholder="Expense" name="newExpenseItem" ng-model="expense.newExpenseItem" required>
              </div>
              <div class="form-group" ng-class="{'has-error': formEditTransaction.newSpentDate.$error.required}">
                <label for="newSpentDate" class="sr-only">Spent Date</label>
                <input type="time" id="new-time" class="form-control" name="newSpentDate" ng-model="expense.newSpentDate" required>
              </div>
              <div class="form-group">
                <label for="select" class="sr-only">Category:</label>
                <select id="new-category" class="form-control select" name="newCategory" ng-model="expense.newCategory">
                  <option value="Food & Drink">Food & Drink</option>
                  <option value="Entertainment">Entertainment</option>
                  <option value="Education">Education</option>
                  <option value="Travel">Travel</option>
                  <option value="Rent">Rent</option>
                  <option value="Household">Household</option>
                  <option value="Transport">Transport</option>
                  <option value="Payments">Payments</option>
                  <option value="Shopping">Shopping</option>
                  <option value="Healthcare">Healthcare</option>
                  <option value="Tax">Tax</option>
                  <option value="Miscellaneous">Miscellaneous</option>
                </select>
              </div>
              <div class="form-group">
                <input type="text" id="new-notes" class="form-control" placeholder="Notes" name="newNotes" ng-model="expense.newNotes"/>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="newlocation" placeholder="Location" name="newLocation" ng-model="expense.newLocation">
              </div>
            </fieldset>
          </form>
        </div>

        <div class="modal-footer">
          <p ng-show="expense.isModalInvalid" class='text-danger text-center' role="alert">Please fill out all of the fields</p>
          <div class="form-group button-group">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="expense.editRow(expense.newIndex, expense.newId, 'expense')" ng-disabled="formEditTransaction.$invalid">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- NOTE MODAL -->

<div class="modal fade" id="noteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ></button>
        <h4 class="modal-title" id="noteModalLabel">Add an optional note</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" id="notes" placeholder="Notes" name="notes" ng-model="expense.notes"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="expense.notes=''" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-ng-click="expense.getNotes(expense.notes)" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- LOCATION MODAL -->

<!--

<div class="modal fade" id="locationModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal" ></button>
        <h4 class="modal-title" id="locationModalLabel">Add a location</h4>
      </div>
      <div class="modal-body" id="tom">
        <input type="text" class="form-control" id="location" placeholder="Location" name="location" ng-model="expense.location"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="expense.location=''" data-dismiss="modal">Cancel</button>

        <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>

      </div>
    </div>
  </div>
</div>
-->

  <!-- DAILY TRANSACTIONS -->

    <div class="container">
      <table class="table">
        <tbody>
          <tr class="success" ng-repeat="expenseThings in expense.expenseTable">
            <td>${{expenseThings.amount}}</td>
            <td>{{expenseThings.name}}</td>
            <td><span class="category-tag">{{expenseThings.category}}</span></td>
            <td>{{expenseThings.format}}</td>
            <td>{{expenseThings.notes}}</td>

            <td class="text-right">
                <button type="button" ng-click="expense.editClick($index, expenseThings.id)" data-toggle="modal" data-target="#editModal" class="button-edit icon ion-edit" aria-label="Edit"></button>
            </td>
            <td class="text-right">
		            <button type="button" value="Remove" data-ng-click="expense.removeRow($index, expenseThings.id, 'expense')" class="button-remove icon ion-close-round" aria-label="Remove"></button>
		        </td>

          </tr>

        </tbody>
      </table>
    <div class="container">
    </div>
      <table class="table">
        <tbody>
          <tr class="info" ng-repeat="incomeThings in expense.incomeTable">
            <td>${{incomeThings.amount}}</td>
            <td>{{incomeThings.name}}</td>
            <td><span class="category-tag">{{incomeThings.category}}</span></td>
            <td>{{incomeThings.format}}</td>
            <td>{{incomeThings.notes}}</td>
            <td class="text-right">
                <button type="button" ng-click="expense.editClick($index, expenseThings.id)" data-toggle="modal" data-target="#editModal" class="button-edit icon ion-edit" aria-label="Edit"></button>
            </td>
            <td class="text-right">
		            <button type="button" value="Remove" data-ng-click="expense.removeRow($index, incomeThings.id, 'income')" class="button-remove icon ion-close-round" aria-label="Remove"></button>
		        </td>
          </tr>
        </tbody>
      </table>
    </div>

      <!-- START OF DASHBOARD -->
      <div class="dashboard container">
        <div class="panel panel-default">

          <div class="panel-heading">
            Dashboard
          </div>
            <div class="panel-body row">
              <div class="ct-chart donut-chart col-sm-4 col-xs-12" id="dailyDonutChart">
                <p class="donut-chart-label">
                  Daily
                </p>
              </div>
              <div class="ct-chart donut-chart col-sm-4 col-xs-12" id="weeklyDonutChart">
                <p class="donut-chart-label">
                  Weekly
                </p>
              </div>
              <div class="ct-chart donut-chart col-sm-4 col-xs-12" id="monthlyDonutChart">
                <p class="donut-chart-label">
                  Monthly
                </p>
              </div>
            </div>

            <div class="row">
              <div class="ct-chart line-chart" id="monthlyLineChart"></div>
            </div>

        </div>

      </div>

    </div>  <!-- /#page-<content-wrapper  -->

</body>

<!-- amount, name, category, notes, time, location  -->
