<body>
    <div id="page-content-wrapper">

      <div class="container">

        <form class="form-horizontal expense-form text-center">
          <fieldset>

            <div class="form-group">
              <label for="select">Log an</label>
              <select class="form-control" id="select" ng-model="expense.inputType">
                <option selected value="expense">expense</option>
                <option value="income">income</option>
              </select>
              $
              <label for="inputAmount" class="sr-only">Amount</label>
              <input type="number" class="form-control" id="amount" placeholder="Amount" name="amount" ng-model="amount">
              for
              <label for="inputExpense" class="sr-only">Name of Expense</label>
              <input type="text" class="form-control" id="expenseItem" placeholder="Expense" name="expenseItem" ng-model="expenseItem">
              at
              <label for="inputTime" class="sr-only">Time</label>
              <input type="time" class="form-control" id="time" name="time" ng-model="time">
              .<br>
              <label for="inputCategory">Category:</label>
              <input type="text" class="form-control" id="category" placeholder="Category" name="category" ng-model="category">&nbsp;
           
              <label for="inputLocation">Location:</label>
              <input type="text" class="form-control" id="location" placeholder="Location" name="location" ng-model="expense.location">             
              <button type="button" class="button-note ion-clipboard" data-toggle="modal" data-target="#noteModal" title="Add an optional note"></button>

            <div class="form-group button-group">
                <button type="submit" class="btn btn-primary" ng-click="expense.addExpense()">Submit</button>
                <button type="reset" class="btn btn-default">Cancel</button>
            </div>
          </fieldset>
        </form>
    </div>  <!--./container-->
<div>

  <!-- EDIT MODAL -->

  <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ></button>
          <h4 class="modal-title" id="editModalLabel">Edit Expense</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal expense-form text-center">
            <fieldset>
              <div class="form-group">
                <label for="inputNewAmount" class="sr-only">Amount</label>
                <input type="number" class="form-control" id="new-amount" placeholder="Amount" name="newAmount" ng-model="expense.newAmount">
                <input type="text" class="form-control" id="new-expense-item" placeholder="Expense" name="newExpenseItem" ng-model="expense.newExpenseItem">
                <input type="time" class="form-control" id="new-time" name="newTime" name="newSpentDate" ng-model="expense.newSpentDate">
                <input type="text" class="form-control" id="new-category" placeholder="Category" name="newCategory" ng-model="expense.newCategory">
                <input type="text" class="form-control" id="new-notes" placeholder="Notes" name="newNotes" ng-model="expense.newNotes"/>
                <!-- <input type="text" class="form-control" id="new-location" placeholder="Location" name="location" ng-model="expense.newLocation" googleplace> -->
            </fieldset>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="expense.editRow(expense.newIndex, expense.newId, 'expense')" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>

<!-- NOTE MODAL -->

<div class="modal fade" id="noteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ></button>
        <h4 class="modal-title" id="noteModalLabel">Add an optional note</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" id="notes" placeholder="Notes" name="notes" ng-model="expense.notes"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="expense.notes=''" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-ng-click="expense.getNotes(expense.notes)" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- LOCATION MODAL -->

<!--

<div class="modal fade" id="locationModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal" ></button>
        <h4 class="modal-title" id="locationModalLabel">Add a location</h4>
      </div>
      <div class="modal-body" id="tom">
        <input type="text" class="form-control" id="location" placeholder="Location" name="location" ng-model="expense.location"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="expense.location=''" data-dismiss="modal">Cancel</button>

        <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
    
      </div>
    </div>
  </div>
</div>
-->

  <!-- DAILY TRANSACTIONS -->

    <div class="container">
      <table class="table">
        <tbody>
          <tr class="success" ng-repeat="expenseThings in expense.expenseTable">
            <td>${{expenseThings.amount}}</td>
            <td>{{expenseThings.name}}</td>
            <td><span class="category-tag">{{expenseThings.category}}</span></td>
            <td>{{expenseThings.format}}</td>
            <td>{{expenseThings.notes}}</td>

            <td class="text-right">
                <button type="button" ng-click="expense.editClick($index, expenseThings.id)" data-toggle="modal" data-target="#editModal" class="button-edit icon ion-edit" aria-label="Edit"></button>
            </td>
            <td class="text-right">
		            <button type="button" value="Remove" data-ng-click="expense.removeRow($index, expenseThings.id, 'expense')" class="button-remove icon ion-close-round" aria-label="Remove"></button>
		        </td>

          </tr>

        </tbody>
      </table>
    <div class="container">
    </div>
      <table class="table">
        <tbody>
          <tr class="info" ng-repeat="incomeThings in expense.incomeTable">
            <td>${{incomeThings.amount}}</td>
            <td>{{incomeThings.name}}</td>
            <td><span class="category-tag">{{incomeThings.category}}</span></td>
            <td>{{incomeThings.format}}</td>
            <td>{{incomeThings.notes}}</td>
            <td class="text-right">
                <button type="button" ng-click="expense.editClick($index, expenseThings.id)" data-toggle="modal" data-target="#editModal" class="button-edit icon ion-edit" aria-label="Edit"></button>
            </td>
            <td class="text-right">
		            <button type="button" value="Remove" data-ng-click="expense.removeRow($index, incomeThings.id, 'income')" class="button-remove icon ion-close-round" aria-label="Remove"></button>
		        </td>
          </tr>
        </tbody>
      </table>
    </div>

      <!-- START OF DASHBOARD -->
      <div class="dashboard container">
        <div class="panel panel-default">

          <div class="panel-heading">
            Dashboard
          </div>
            <div class="panel-body row">
              <div class="ct-chart donut-chart col-sm-4 col-xs-12" id="dailyDonutChart">
                <p class="donut-chart-label">
                  Daily
                </p>
              </div>
              <div class="ct-chart donut-chart col-sm-4 col-xs-12" id="weeklyDonutChart">
                <p class="donut-chart-label">
                  Weekly
                </p>
              </div>
              <div class="ct-chart donut-chart col-sm-4 col-xs-12" id="monthlyDonutChart">
                <p class="donut-chart-label">
                  Monthly
                </p>
              </div>
            </div>

            <div class="row">
              <div class="ct-chart line-chart" id="monthlyLineChart"></div>
            </div>

        </div>

      </div>

    </div>  <!-- /#page-<content-wrapper  -->

</body>


<!-- amount, name, category, notes, time, location  -->
