<ion-view view-title="Login">
  <ion-content class="padding">
    <form ng-submit="submit()">
      <div class="list">

        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email" ng-model="input.email">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model="input.password">
        </label>
        <div class="col-100">
        <button class="button button-full button-balanced" type="submit">Login</button>
        </div>

      </div>
    </form>
  </ion-content>
</ion-view>
