<ion-view view-title="Today's Activity">
  <ion-content>
    <ion-list class="list">
      <div class="item item-divider">
        Expenses
      </div>
      <ion-item ng-repeat="item in expensesData">
        ${{item.amount}} for {{item.name}} @ {{item.location}}
      </ion-item>
      <div class="item item-divider">
        Incomes
      </div>
      <ion-item ng-repeat="item in incomesData">
        ${{item.amount}} for {{item.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
