<ion-view view-title="Today's Activity">
  <ion-content>
    <ion-list class="list">
      <div class="item item-divider">
        My Profile
      </div>
      <a class="item item-icon-left" href="#">
        Total Savings
        <span class="item-note">
          {{profile_total_savings}}
        </span>
      </a>
      <a class="item item-icon-left" href="#">
        Monthly Limit
        <span class="item-note">
          {{profile_monthly_limit}}
        </span>
      </a>
      <div class="item item-divider">
        Expenses
      </div>
      <ion-item ng-repeat="item in expensesData">
        ${{item.amount}} for {{item.name}} @ {{item.location}}
      </ion-item>
      <div class="item item-divider">
        Incomes
      </div>
      <ion-item ng-repeat="item in incomesData">
        ${{item.amount}} for {{item.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
