<h1>Dis be login.html</h1>


<div id="wrapper">
    <div id="page-content-wrapper">

<form class="form-horizontal" ng-submit="login.submit(login)">
  <fieldset>
    <div class="form-group">
      <div class="col-lg-10">
        <input type="text" class="form-control" id="email" placeholder="Email" ng-model="login.email">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10">
        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="login.password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <!-- <a ui-sref="main.expense"> -->
          <button type="submit" class="btn btn-primary">Submit</button></a>
      </div>
    </div>
  </fieldset>

</form>


  </div>  <!-- /#page-content-wrapper -->
</div>  <!-- /#wrapper -->
