<body>
  <div id="page-content-wrapper">
    <div class="container">
      <h1>Transaction History</h1>
        <div class="form-group">
          <div class="col-lg-12">
            <label for="select" class="col-lg-2 control-label">Selects</label>
              <div class="col-lg-10">
                  <select class="form-control" id="select" ng-model="history.inputType">
                    <option value="">income and expenses</option>
                    <option value="income">income</option>
                    <option value="expense">expenses</option>
                  </select>
              </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-12">
            <label for="select" class="col-lg-2 control-label">Show transactions for: </label>
              <div class="col-lg-10">
                  <select class="form-control" id="select" ng-model="history.dates" ng-change="history.filterDates(history.dates)">
                    <option value="7">past 7 days</option>
                    <option value="30">past 30 days</option>
                    <option value="180">past 6 months</option>
                  </select>
              </div>
          </div>
        </div>

    <!-- DROPBOX/CSV EXPORT -->
      <button class="btn btn-default" ng-csv-dropbox="history.allTable" csv-header="['Amount','Name','Category','Notes','Type']"
      csv-column-order="['amount','name','category','notes','inputType']" filename="BudgieHistory.csv" field-separator="," decimal-separator=".">
      Export to Dropbox</button>

      <button class="btn btn-default" ng-csv="history.allTable" csv-header="['Amount','Name','Category','Notes','Type']"
      csv-column-order="['amount','name','category','notes','inputType']" filename="BudgieHistory.csv" field-separator="," decimal-separator=".">
      Export to CSV</button>

      <table class="table table-hover">
        <!-- <thead>
          <tr>
            <th ng-click="history.sortBy('amount')">Amount</th><span class="sortorder" ng-class="{reverse:reverse}"></span>
            <th ng-click="history.sortBy('name')">Expense</th><span class="sortorder" ng-class="{reverse:reverse}"></span>
            <th ng-click="history.sortBy('category')">Category</th><span class="sortorder" ng-class="{reverse:reverse}"></span>
            <th ng-click="history.sortBy('spent_date')">Time</th><span class="sortorder" ng-class="{reverse:reverse}"/>
            <th>Notes</th>
          </tr>
        </thead> -->
        <tbody>
    <!--        <tr ng-class="{success: expenseThings.inputType === 'expense', info: expenseThings.inputType === 'income'}" dir-paginate="expenseThings in history.allTable | filter: history.inputType | orderBy:cat:reverse | itemsPerPage:2" current-page="currentPage">  -->



        <tr ng-class="{success: expenseThings.inputType === 'expense', info: expenseThings.inputType === 'income'}" ng-repeat="expenseThings in history.allTable | filter: history.inputType | orderBy:cat:reverse">
            <td>{{expenseThings.amount}}</td>
            <td>{{expenseThings.name}}</td>
            <td>{{expenseThings.category}}</td>
            <td>{{expenseThings.spent_date}}</td>
            <td>{{expenseThings.notes}}</td>
             <td>
                <a ng-click="history.editClick($index, expenseThings.id)" data-toggle="modal" data-target="#editModal" class="btn btn-info btn-sm">edit</a>
            </td>
            <td class="text-right">
              <button type="button" value="Remove" data-ng-click="history.removeRow($index, expenseThings.id, expenseThings.inputType)" class="button-remove icon ion-close-round" aria-label="Remove"></button>
		        </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<!--
  <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="pagetemplate.html"></dir-pagination-controls>
-->

<!--  EDIT TRANSACTION MODAL -->

<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ></button>
          <h4 class="modal-title" id="editModalLabel">Edit Transaction</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal expense-form text-center">
            <fieldset>
              <div class="form-group">
                <label for="inputNewAmount" class="sr-only">Amount</label>
                <input type="number" class="form-control" id="new-amount" placeholder="Amount" name="newAmount" ng-model="history.newAmount">
                <input type="text" class="form-control" id="new-expense-item" placeholder="Expense" name="newExpenseItem" ng-model="history.newExpenseItem">
                <input type="time" class="form-control" id="new-time" name="newTime" name="newSpentDate" ng-model="history.newSpentDate">
                <input type="text" class="form-control" id="new-category" placeholder="Category" name="newCategory" ng-model="history.newCategory">
                <input type="text" class="form-control" id="new-notes" placeholder="Notes" name="newNotes" ng-model="history.newNotes"/>
                <!-- <input type="text" class="form-control" id="new-location" placeholder="Location" name="location" ng-model="expense.newLocation" googleplace> -->
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="history.editRow(history.newIndex, history.newId, history.inputType)" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>

<!--  TRANSACTION MAP VIEW -->

      <div>
        <h2>Hover over a marker to view transaction details</h2>
        <section class="map-container">
          <div id="map_canvas" ></div>
        </section>
      </div>


    </div>
  </div>
</body>
